body {
  
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bookImage {
  max-width: 200px;
}

.main-title {
  text-align: center;
}

.bookCards {
  display: flex;
  padding: 3em;
}

.card {
  margin: 1.5em;
}

.card-image:first-child img {
  max-width: 105px;
  display: flex;
  left: 21%;
}

.add-book {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3em;
}

.book-form {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  padding: 0.5em;
  margin-top: 1em;
}

.submit-button {
  margin-top: 1em;
  background: none;
  border: none;
  border: 1px solid #98b993;
  background-color: #98b993;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: white;
  cursor: pointer;
}

.button.is-primary {
  background-color:#98b993;
}

.icon {
  color: #98b993;
}

.iconBook {
  color: white;
}

.title.is-4 {
  color: #4e6a4a;
}

